<div class="container">
	<form name="surveyForm" ng-submit="save()">
		<div class="control-group">
			<label class="control-label" for="SurveyName">Survey Name
			</label>
			<div class="controls controls-row">
				<input type="text" id="surveyName" name="surveyName" class="span4" ng-model="survey.name" required="true" ng-Maxlength="20" autofocus/>
	            <span ng-show="surveyForm.surveyName.$invalid" class="help-inline">Survey name is required and must be less than 20 characters.</span>
	            <!--
	            <span ng-show="surveyForm.surveyName.$error.required" class="help-inline">Have to specify a Survey Name.
	            </span>
	            <span ng-show="surveyForm.surveyName.$error.maxlength" class="help-inline">Should be less than 20 characters long.
	            </span>
				-->
			</div>
			<div class="controls controls-row">
				<label class="control-label" for="category">Category
				</label>
				<select name="category" id="category" ng-options="category.id as category.name for category in categories" ng-model="survey.categoryId" required>
				</select>
			</div>
			<br>
			<br>
			<button class="btn" ng-click="cancel()">Cancel</button>
			<input class="btn btn-primary" type="submit" value="Save" ng-disabled="surveyForm.$invalid"/>
		</div>
	</form>
</div>
